*{
    box-sizing: border-box;
}
body{
    margin:0;
    min-height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E5E7EB;
    
}

.footer{
    text-align:center;
    padding: 12px;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    font-style: italic;
}

.header{
    background-color: #1F2937;
    font-weight: 900;
    color:#F9FAF8;
    font-size:48px;
    padding:12px;
    font-style: oblique;
}
.mid-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btn-container{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:20px;
}

.buttons{
    padding: 4px 48px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 12px;
    border-color: #E5E7EB;
    border-style: solid;
}
.board-container {
    min-width: 40vw;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.row{
    display: flex;
    flex: 1 0 auto;

}

.data{
    max-width: 33%;
    max-height: 33%;
    min-height: 33%;
    flex: 1 0 auto;
    background-color: #FBBC05;
    border: 1px solid #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color:#1F2937;
}

